@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    .navbar {
        @apply shadow flex text-pink-500 items-center py-2 px-4 dark:bg-gray-900;
    }
    
    .navbar span {
        @apply text-xl;
    }
}

@layer base {
    .prose h1 {
        @apply dark:text-blue-400;
    }
}